<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noy's Portfolio</title>
  
  <link rel="stylesheet" href="../styles.css"/>
  <link rel="stylesheet" href="../gallery.css"/>
  <link rel="stylesheet" href="../about.css"/>

  <script src="/js/html-fragment.js" type="module"></script>
  <script src="/js/indexWidgets.js" defer type="module"></script>
</head>

<body>
  <html-fragment src="/components/top-bar.html"></html-fragment>
  <slot></slot>
  <html-fragment src="/components/footer.html"></html-fragment>
</body>
</html>
