.nav-tag {
   padding: 4px 8px;
    background-color: #ffffff; /* Dark background*/
    color: #000000; 
    border: 1px solid black;
    border-radius: 1000px;
    height: min-content;
    cursor: pointer;
    transition: color 0.3s ease, background-color        0.3s ease;
}

.nav-tag:hover {
  background-color: #000000;
  color: white
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;  /* This will limit the maximum width of the gallery. Adjust as needed. */
  margin: 0 auto;     /* This will center the gallery on wider screens. */
}

.gallery-entry {
  position: relative;
  cursor: pointer;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px;
  border-color: black;
  overflow: hidden; /* Ensure that each entry doesn't grow too big. */
  max-width: 400px;   /* This ensures that each widget doesn't grow too large. Adjust as needed. */
  margin: 0 auto;     /* This centers the widget within its grid cell. */
}

.gallery-entry img {
  width: 100%;
  height: auto;
  display: block;   /* This removes any space that might appear below the image */
}

.gallery-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  mix-blend-mode: difference;
  font-family: 'PPMondwest-Regular', serif;
  font-size: 3em; /* Adjust size as necessary */
  opacity: 0; /* Text is hidden by default */
  transition: opacity 0.3s; /* 0.3 second transition for the opacity */
}

/* Show the gallery text on hover */
.gallery-entry:hover .gallery-text {
  opacity: 1;
}

.gallery-description, .gallery-tags {
  line-height: 1.2;
  margin-bottom: 5px;
  padding: 10px;
  font-family: 'Balto-book', sans-serif;
  font-size: 16px;
}

.gallery-tags {
  font-size: 14px;
 
  
}

