@font-face {
  font-family: 'PPMondwest-Regular';
  /* You can name it whatever you like */
  src: url('fonts/PPMondwest-Regular.otf') format('opentype');
  /* Path relative to your CSS file */
}

@font-face {
    font-family: 'BaskervilleItalic';
    src: url('fonts/BaskervilleItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Balto-Book';
    src: url('fonts/Balto-Book.ttf') format('truetype');
    font-weight: normal;
}

:root {
  --top-color: white;
}

html,
body {
  padding-top: 45px;
  margin: 0;
  /*cursor: url('/assets/cursor.png') 0 32, auto;*/
}

.top-bar {
  top: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  background: var(--top-color);
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;  /* This ensures the top-bar spans the entire width of the viewport */
  left: 0;     /* This ensures the top-bar starts from the leftmost side of the viewport */
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid black;
}

.name {
  font-family: 'PPMondwest-Regular', serif;
  font-size: 3rem;
  padding: 10px;
  padding-left: 10px;
  /*cursor: pointer;*/
}

.name-letter {
  margin-left: -2px;
}

.name span:nth-child(1):hover {
  color: red;
  font-style: italic;
}

.name span:nth-child(2):hover {
  color: blue;
  font-style: italic;
}

.name span:nth-child(3):hover {
  color: #ffa3b1;
  font-style: italic;
}

.name span:nth-child(4):hover {
  color: #7242cd;
  font-style: italic;
}

.name span:nth-child(5):hover {
  color: #ff8800;
  font-style: italic;
}

.name span:nth-child(6):hover {
  color: #ff0033;
  font-style: italic;
}

.name span:nth-child(7):hover {
  color: #05b4ff;
  font-style: italic;
}

.name span:nth-child(8):hover {
  color: #61ff98;
  font-style: italic;
}

.name span:nth-child(9):hover {
  color: #c2007b;
  font-style: italic;
}

.name span:nth-child(10):hover {
  color: #bbff00;
  font-style: italic;
}

.name span:nth-child(11):hover {
  color: orange;
  font-style: italic;
}

a {
    color: inherit;      /* Makes the link have the same color as surrounding text */
    text-decoration: none;  /* Removes the underline */
}

.menu {
  display: flex;
}

.menu-item {
  font-family: 'Balto-Book', sans-serif;
  font-size: .9em;
  color: inherit;
  text-decoration: none;
  margin-right: 10px;
  padding: 4px;
  border: 1px solid var(--top-color);
  border-radius: 1000px;
  height: min-content;
}

.menu-item:hover {
  border: 1px solid black;
}

.about-wrapper {
    line-height: 1.4;  /* Adjust as needed */
    vertical-align: middle;
    position: relative; /* Needed for absolute positioning of child elements */
}

.hover-text {
    width: 200px;
    white-space: nowrap; 
    opacity: 0;  /* Make it initially invisible */
    transform: translateY(-2px); /* Move it up a bit*/
    visibility: hidden; /* Hide it so it doesn't interfere with clicks or other elements */
    
    position: absolute;
    left: 0;
    top: 50%; /* Position it right below the link */
    font-family: 'Balto-Book', sans-serif;
    font-size: .9em;
    /*font-style: italic;*/
    /*letter-spacing: -.5px;*/
    line-height: 1.2;
    color: #a4cc38;
    background-color: #fff; 
    padding-top: 0px;
    
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Updated to ease-in */
}

.menu-item:hover ~ .hover-text {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
}

/* Show the hover-text ONLY when the specific item (About) is hovered */
.about-wrapper:hover .hover-text {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* Form Styles */

#fs-frm {
    width: 100%;
    max-width: 400px; /* Maximum width of the form */
    margin: 20px auto; /* Center the form on the page */
    background-color: #fff; /* White background for the form */
    padding: 20px;
    /*border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3); /* A subtle shadow */
    border: 1px solid black;
}

#fs-frm-inputs {
    margin-bottom: 20px;
}
/* Update the input and textarea styles */
#fs-frm input[type="text"],
#fs-frm input[type="email"],
#fs-frm textarea {
    width: 100%;
    padding: 8px 0; /* Remove left and right padding */
    margin: 20px 0; /* Increased margin for visual spacing */
    border: none; /* Remove all borders */
    border-bottom: 1px solid #ccc; /* Add bottom border only */
    background-color: transparent; /* Ensure no background color */
    font-size: 14px;
    box-sizing: border-box; 
    outline: none; /* Remove browser default outline on focus */
    transition: border-color 0.3s; /* Smooth transition for the border color */
}

#fs-frm input[type="text"]:focus,
#fs-frm input[type="email"]:focus,
#fs-frm textarea:focus {
    border-color: #8ae265; /* Darker border color when the input/textarea is in focus */
}

/* If you'd like to prevent vertical resizing of the textarea: */
#fs-frm textarea {
    resize: none;
}

#fs-frm input[type="submit"] {
    font-family: 'Balto-Book', sans-serif;
    padding: 4px 8px;
    background-color: #ffffff; /* Dark background*/
    color: #000000; 
    /*border: 1px solid var(--top-color);*/
    border: 1px solid black;
    border-radius: 1000px;
    height: min-content;
    cursor: pointer;
    transition: color 0.3s ease, background-color        0.3s ease;
}

#fs-frm input[type="submit"]:hover {
  background-color: #000000;
  color: white
}

label {
    font-weight: regular;
    margin-top: 20px;
}

/* This will style all body text on the contact page, but not on other pages */
.contact-page {
    font-family: 'Balto-Book', sans-serif;
    background-color: #ffffff; /* Just an example, you can choose any background color */
}

/* This styles all paragraphs within the contact page */
.contact-page p {
    font-size: 14px;
    line-height: 1.6;
    color: #000000;
}

/* If you have other specific elements you want to style on the contact page, continue using the .contact-page prefix */
.contact-page h1 { 
    font-family: 'PPMondwest-Regular', serif;
    font-size: 2.5em;
    color: #000000;
    font-weight: normal;   
}

/* ... and so on for other elements */

#fs-frm {
    z-index: 1;
    position: relative; /* Ensure that z-index takes effect */
}
footer {
    width: 100%;
    background-color: #ffffff; /* Dark background color */
    color: #000000; /* White text color */
    padding: 20px 0;
    font-family: 'Balto-Book', sans-serif;
    font-size: 14px;
    text-align: center;
    position: relative; /* Ensure that z-index takes effect */
    z-index: 2;
    border-top: 1px solid black;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px; /* Side padding */
}

.extra-text {
    display: none;
    color: #a4cc38;  /* Let's say the color is orange. Change this as needed. */
    margin-left: 10px;  /* To add some space between the name and the extra text */
}

.footer-name:hover .extra-text {
    display: inline;
}
