<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.typekit.net/oyw2ysf.css">
    <link rel="icon" href="/assets/horse_favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/top-bar.css">
</head>
<body>
    <div class="top-bar" id="topBar">
        <a href="/" id="topBarLink">
            <div class="name">
                <span class="name-full">
                    <span class="name-letter">N</span><span class="name-letter">o</span><span class="name-letter">y</span>
                    <span class="name-letter">M</span><span class="name-letter">i</span><span class="name-letter">z</span><span class="name-letter">r</span><span class="name-letter">a</span><span class="name-letter">c</span><span class="name-letter">h</span><span class="name-letter">i</span>
                </span>
                <span class="name-initials">NM</span>
            </div>
        </a>
        <nav class="menu">
            <button id="openModal" class="menu-item about-wrapper">About&#42611;</button>
        </nav>
    </div>
    
    <!-- About Modal -->
    <div id="aboutModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            
            <!-- <div class="greeting-container">
              <div class="pixel-eyes-container">
                <div class="pixel-eyes">
                  <div class="pixel-eye left-eye">
                    <div class="pixel-pupil"></div>
                  </div>
                  <div class="pixel-eye right-eye">
                    <div class="pixel-pupil"></div>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- Polaroid-style photo -->
            <div class="polaroid-container">
                <div class="polaroid">
                    <img src="/assets/profile-photo.jpg" alt="Noy Mizrachi">
                    <div class="pushpin"></div>
                    <div class="caption">Hi! I'm Noy :)</div>
                </div>
            </div>
            
            
            <p class="about-bio">
                I'm a designer crafting intuitive experiences with a focus on visual storytelling, usability, and seamless interactions. 
                With a Master's in Design Studies from Harvard GSD and a background in graphic design and computer science, 
                I bring a multidisciplinary approach to digital design. Always excited about building well-crafted products with ambitious teams. 
                Currently shaping digital experiences at Sony Pictures.
            </p>
            <div class="about-contact">
                <p>📩 <a href="mailto:workwithnoy@gmail.com">workwithnoy@gmail.com</a></p>
                <p>💼 <a href="https://www.linkedin.com/in/noymizrachi/" target="_blank">linkedin.com/in/noymizrachi/</a></p>
            </div>
            <div class="cv-download">
                <a href="/assets/Noy Mizrachi_CV_March_2025.pdf" target="_blank" class="cv-button">Download CV</a>
            </div>
        </div>
    </div>
    <script src="js/scroll-transition.js" defer></script>
</body>
</html>