<div class="top-bar">
  <a href="index.html">
  <div class="name">
    <span class="name-letter">N</span><span class="name-letter">o</span><span class="name-letter">y</span>

    <span class="name-letter">M</span><span class="name-letter">i</span><span class="name-letter">z</span><span
      class="name-letter">r</span><span class="name-letter">a</span><span class="name-letter">c</span><span
      class="name-letter">h</span><span class="name-letter">i</span>
  </div>
  </a>
  <div class="menu">
    <div class="about-wrapper">
      <a href="/about.html" class="menu-item">About&#42611;</a>
      <div class="hover-text">*Noy is a Boston-based multidiscplinary<br>designer, click to learn more.</div>
    </div>
    <a href="/contact.html" class="menu-item">Contact</a>
    <a href="/youtube" class="menu-item">YouTube</a>
    <a href="/linkedin" class="menu-item">LinkedIn</a>
  </div>
</div>