/* Global Styles */
div {
  transition: all .7s ease;
}

body {
  min-height: 100vh;
}

 body, h4 {
  font-family: 'Balto-Book', sans-serif;
  font-weight: normal;
}

h3 {
  font-family: 'PPMondwest-Regular', serif;
  font-weight: normal;
} 



.shadow-box {
  border: 1px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  padding-top: 0px;
  margin: 35px auto;  /* Auto margins are used to center block elements */
  background-color: white;
  width: 85%;   /* Adjust this percentage for your preferred width. 70% means it will take up 70% of its parent's width. */
  max-width: 1000px;  /* Prevents the content box from becoming too wide on large screens */
  overflow: hidden;
}

/* About Section */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 30px;
  align-items: center;
}

.image-container {
  position: relative;
  width: width-of-your-image; /* replace with your image's width */
  height: height-of-your-image; /* replace with your image's height */
}

.image-container img,
#pixelateCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#pixelateCanvas {
  pointer-events: none; /* so the canvas doesn't block mouse events */
}


.profile-image {
  position: relative;
  flex: 0 0 400px;
  max-width: 400px;
  width: 100%;
}

#profile-pic {
  width: 80%;
  height: auto;
}

.profile-image img {
  opacity: 0;
  transition: opacity 0.3s;
}

.title:hover + .profile-image img {
  opacity: 1;
} 



.blurb {
  flex-grow: 1;
  font-size: 1em;
  padding-top: 0px;
  line-height: 1.6;
  margin: 20px;
}

.arrow {
  padding-top: 10px;
  width: 50px;    /* or whatever width you prefer */
  height: auto;   /* maintain aspect ratio */
  vertical-align: middle; /* to align it with the text */
}

/* Resume Section */
.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  width: 48%;
}

.resume h3 {
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.resume h4 {
  font-size: 18px;
  font-weight: bolder;
  margin: 15px 0;
  line-height: 1;
  background-color: #ffe9e9; /* light pink background */
  padding: 2px;
}

.resume p {
  margin-bottom: 10px;
  line-height: 1.4;
}

.skills div,
.education div,
.experience div {
  margin-bottom: 20px;
}

/* Title hover effects */

.title {
  font-family: 'PPMondwest-Regular', serif;
  font-size: 3.5rem;
}

.title-letter {
  margin-left: -2px;
}

.title span:hover {
  font-style: italic;
}

.title span:nth-child(1):hover {
  color: red;
  font-style: italic;
}

.title span:nth-child(2):hover {
  color: blue;
  font-style: italic;
}

.title span:nth-child(3):hover {
  color: #ffa3b1;
  font-style: italic;
}

.title span:nth-child(4):hover {
  color: #7242cd;
  font-style: italic;
}

.title span:nth-child(5):hover {
  color: #ff8800;
  font-style: italic;
}

.title span:nth-child(6):hover {
  color: #ff0033;
  font-style: italic;
}

.title span:nth-child(7):hover {
  color: #05b4ff;
  font-style: italic;
}

.title span:nth-child(8):hover {
  color: #61ff98;
  font-style: italic;
}

.title span:nth-child(9):hover {
  color: #c2007b;
  font-style: italic;
}

.title span:nth-child(10):hover {
  color: #bbff00;
  font-style: italic;
}

.title span:nth-child(11):hover {
  color: orange;
  font-style: italic;
}

.title span:nth-child(12):hover {
  color: rgb(48, 177, 197);
  font-style: italic;
}

.title span:nth-child(13):hover {
  color: rgb(229, 237, 0);
  font-style: italic;
}

.title span:nth-child(14):hover {
  color: rgb(222, 34, 46);
  font-style: italic;
}

.title span:nth-child(15):hover {
  color: rgb(237, 177, 188);
  font-style: italic;
}

.title span:nth-child(16):hover {
  color: rgb(115, 6, 143);
  font-style: italic;
}

.title span:nth-child(17):hover {
  color: rgb(156, 233, 108);
  font-style: italic;
}
/* Responsive Design */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .profile-image img {
    width: 90%;  /* Adjust to your preference, maybe a fixed value like 250px works better */
  }

  .row {
    width: 100%;
  }

  .shadow-box {
    width: 95%;   /* Use more of the screen width on small screens */
  }
}

/* Night Mode Styles */

/* When the body has the data-theme attribute set to "dark" */
body[data-theme="dark"] {
  background-color: #121212; /* Dark background color */
  color: #EAEAEA; /* Light text color for general body text */
}

body[data-theme="dark"] .shadow-box {
  background-color: #1E1E1E; /* Darker box color */
  border-color: #2D2D2D;
  color: #EAEAEA; /* Light text color */
}

body[data-theme="dark"] .title span:hover {
  color: #FF5733; /* Adjust the hover colors for the title as you like for night mode */
}

body[data-theme="dark"] .resume h3 {
  border-color: #333; /* Darker border color */
}

body[data-theme="dark"] .resume h4 {
  background-color: #333333; /* Darker background color for resume header */
  color: #EAEAEA; /* Light text color */
}

