.gallery-navigation {
  padding: 10px;
  box-sizing: border-box;
}

.nav-tag {
  padding: 4px 8px;
  background-color: #ffffff;
  /* Dark background*/
  color: #000000;
  border: 1px solid black;
  border-radius: 1000px;
  margin-bottom: 2px;
  height: min-content;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-tag:hover {
  background-color: #000000;
  color: white
}

.nav-tag.selected {
  background-color: #000000;
  color: white;
}

.image-gallery {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.gallery-entry {
  width: calc(1/3*100vw - 50px);
  margin: 10px;
  min-width: 300px;
  max-width: 400px;
  cursor: pointer;
  background: #f8f8f8;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid lightgrey; /* Changed this line */
  overflow: hidden;
}

.gallery-entry img {
  width: 100%;
  aspect-ratio: 1;
}

.gallery-entry-img {
  position: relative;
}

.gallery-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  mix-blend-mode: difference;
  font-family: 'PPMondwest-Regular', serif;
  font-size: 3em;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}

.gallery-entry:hover {
  border: 1px solid black; /* Added this line */
}

.gallery-entry:hover .gallery-text {
  opacity: 1;
}


.gallery-entry:hover .gallery-text {
  opacity: 1;
}

.gallery-description,
.gallery-tags {
  line-height: 1.2;
  margin-bottom: 5px;
  padding: 10px;
  font-family: 'Balto-book', sans-serif;
  font-size: 16px;
}

.gallery-tags {
  color: grey;
  font-size: 14px;
}

/* ... Your existing styles ... */

/* Night Mode overrides */
body[data-theme="dark"] {
  background-color: black;
}

body[data-theme="dark"] .nav-tag {
  background-color: black;
  color: white;
  border-color: white;
}

body[data-theme="dark"] .nav-tag:hover,
body[data-theme="dark"] .nav-tag.selected {
  background-color: white;
  color: black;
}

body[data-theme="dark"] .gallery-entry {
  background: black;
  border-color: white;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

body[data-theme="dark"] .gallery-entry:hover {
  border-color: white;
}

body[data-theme="dark"] .gallery-description,
body[data-theme="dark"] .gallery-tags {
  color: white;
}

body[data-theme="dark"] .gallery-tags {
  color: lightgray;
}

body[data-theme="dark"] .gallery-text {
  mix-blend-mode: screen; /* Change the blend mode so text remains visible against dark backgrounds */
}

.glyph-grid {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1; /* Set behind other content */
}

.glyph-style {
  position: absolute;
  font-family: 'PPMondwest-Regular', serif;
  font-size: 35px; // Size of the glyphs
  color: #000; // Color of the glyphs
  opacity: 0; // Initially hidden
  transition: opacity 0.5s ease-out;
  user-select: none;
}

/* Add styles to ensure widgets are above the glyphs */
.widget-class {
  position: relative;
  z-index: 1;
}
